
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
:root {
  --color-0: #efefef; /*BACKGROUND*/
  --color-1: #ffffff; /*TAREFAS*/
  --color-2: #a8acb8; /*SOMBRAS E TEXTO CLARO*/
  --color-3: #848484; /*SOMBRAS E TEXTO ESCURO*/
  --color-4: #f58735;
  --color-5: #34335d;
  --shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
body {
  font-family: 'Roboto Condensed', sans-serif;}
h1 {
  color: var(--color-4);
  text-align: center;
}
.vis-timeline {
  border: 1px solid var(--color-2);
  border-radius: 6px;
  font-family: 'Roboto Condensed', sans-serif;  font-size: 12pt;
  background: var(--color-0); /*TIMELINE BACKGROUND*/
  margin: 20px;
}
.tudo {
    max-width: 80%;
    max-width: 80%;
    margin: 50 auto;
  }

.vis-item {
  border: 1px;
  border-radius: solid 60px;
  border-color: var(--color-2);
  background: var(--color-1); /*TAREFAS*/
  font-size: 15px;
  color: var(--color-3); /*TEXTO*/
  box-shadow: var(--shadow);
}

.vis-item.vis-line {
  background: var(--color-2);
  border-width: 3px;
  box-shadow: var(--shadow);
}

.vis-item.vis-dot {
  background: var(--color-2);
  border-width: 5px;
  border-radius: 10px;
  box-shadow: var(--shadow);
}

.vis-item.vis-selected {
  border-color: var(--color-3);
  background-color: var(--color-2);
  color: var(--color-1);
}

.vis-time-axis .vis-text {
  color: rgb(161, 161, 161);
  padding-top: 10px;
  padding-left: 10px;
}

.vis-time-axis .vis-text.vis-major {
  font-weight: bold;
}

.vis-time-axis .vis-grid.vis-minor {
  border-width: 2px;
  border-color: rgb(204, 204, 204);
}

.vis-time-axis .vis-grid.vis-major {
  border-width: 2px;
  border-color: #cfcccc;
}

img {
  margin-top: 4px;
  height: 60px;
  width: 60px;
}
/* Essa propriedade eu coloquei aqui para alinhas a imagem no centro do grupo */
.vis-labelset .vis-label {
  color: #4d4d4d;
  align-content: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Essa propriedade alinha o label ao centro */
.alinha {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vis-item .vis-item-overflow {
  display: flex;
  justify-content: center;
  text-align: center;
}
.wrapper { /*Checar uso*/
  background-color: #ccc;
  padding: 10px;
  margin: 10px;
}

.colored-box {
  background-color: #e5e5e5;
  color: #fff;
  height: 100%;
  padding: 20px;
}

.box1,  .box3 {
   padding: 20px;
  margin: 30px;
  display: inline-block;
  height: auto;
  width: auto;
  border: radius 16px;
  box-shadow: var(--shadow);
  background-color: var(--color-0);
}
.box2 {
  padding: 20px;
  margin: 30px;
  display: inline-block;
  height: auto;
  width: 100%;
  border: radius 16px;
  box-shadow: var(--shadow);
  background-color: var(--color-0);

}
.container {
display: flex;
width: auto;
border: radius 16px;
box-shadow: var(--shadow);
background-color: #ffffff;
opacity: 0.8;
background-image: linear-gradient(to right, #f7f7f7, #f7f7f7 2px, #ffffff 2px, #ffffff );
background-size: 4px 100%;
}
#event-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"], input[type="date"], input[type="file"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

input[type="submit"], input[type="button"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover {
  background-color: #0062cc;
}
/*button*/

.button-57 {
  position: relative;
  overflow: hidden;
  color: #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  border-radius: 8px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-5);
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
/*******************************************************************/
.player {
  color: rgb(141, 141, 141);
  background-color: rgb(216, 216, 216);
}
.evento {
  color: rgb(141, 141, 141);
  background-color: rgb(230, 230, 230);
}

/*******************************************************************/
.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}

img {
  width: 40px;
  height: 40px;
}
td {
  color: #848484;
}